name: generate random number using cowsay

on: [push] 

jobs:
    ascii_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v4

            - name: list Repo Files
              run: ls -lah

            - name: Executet shell script
              run: |
                chmod +x asci_script.sh
                ./asci_script.sh
            - name: sleep for 30 sec
              run: sleep 30

    test_job_2:
        runs-on: ubuntu-latest
        steps:
          - name: sleep for 30 sec
            run: sleep 30

          - name: test file existance
            run: grep -i 'dragon' dragon.txt
    show_file:
        runs-on: ubuntu-latest
        steps:
          - name: cat dragon file
            run: cat dragon.txt
          - name: print deploying
            run: echo 'deploying.....'
        