name: exploring variables and secrets

on:
    push:
    workflow_dispatch:


jobs:
    deploy-on-ubuntu:
        strategy:
          matrix:
            os: [ubuntu-latest, ubuntu-204.04.2, windows-latest]
            images: [hello-world, akpine]
        runs-on: ${{matrix.os}}
        steps:

            - name: Echo Docker Details 
              run: docker info

            - name: Run Image on ${{matrix.os}}
              run: docker run ${{matrix.images}}
