name: Exploring workflow filters and activities

on: 
    push:
        branches: 
            - main
            - '!features/*'

    
            
    workflow_dispatch:

    pull_request: 
        types: 
            - opened
            - closed
        paths-ignore: 
            - Reamme.md
        branches: 
            - main
        
jobs:
    hello:
        runs-on: ubuntu-latest
        steps:
            - name: echo event type
              run: echo this workflow/job/step is executed for event type ${{github.event_name}}